body{
    background: #FDC830;  
background: -webkit-linear-gradient(to right, #F37335, #FDC830);  
background: linear-gradient(to right, #F37335, #FDC830);
color:white ; 
 }
.heading{
    font-size: 25px;
    width:80%;
}
#camera,#result{
    border: #FDC830 3px dashed;
}